EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_SOCKET_PATH=/ws
EXPO_PUBLIC_RAZORPAY_KEY_ID=XXXXXXXXXXXXXXXXXXXX
EXPO_PUBLIC_OPENWEATHER_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXX
EXPO_PUBLIC_LIVEKIT_URL=ws://localhost:7880